# ─────────────────────────────────────────────
# OS / Editor Specific
# ─────────────────────────────────────────────
**/.DS_Store
.vscode/
*.swp

# ─────────────────────────────────────────────
# Rust & Anchor
# ─────────────────────────────────────────────
target/
.cargo/
.anchor/
**/*.rs.bk

# ─────────────────────────────────────────────
# Solana / Deploy
# ─────────────────────────────────────────────
.deploy-keys/
test-ledger/
test_config/

# ─────────────────────────────────────────────
# Node.js & TypeScript
# ─────────────────────────────────────────────
node_modules/
.yarn/
package-lock.json
yarn.lock
dist/
.tsbuildinfo

# ─────────────────────────────────────────────
# Metadata & Temporary
# ─────────────────────────────────────────────
metadata/

# ─────────────────────────────────────────────
# Temporary ignore Typescript tests - Until I can organize it better 
# ─────────────────────────────────────────────

# Ignore all TS test files
/tests_ts/*
!tests_ts/**/*.rs
!tests_ts/**/

# Explicitly allow key test files
!tests_ts/test_initialize.rs
!tests_ts/test_vars.rs
!tests_ts/test_balance.rs
!tests_ts/test_state.rs

# Always allow helpers (accounts + utils)
/tests_ts/accounts/*
!/tests_ts/accounts/
!/tests_ts/accounts/**

/tests_ts/utils/*
!/tests_ts/utils/
!/tests_ts/utils/**